.container__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.cards__grande {
  padding: 10px;
  display: flex;
  margin-top: 25px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgb(151, 140, 140);
}

.cards__grande .cards__texto {
  padding-left: 10px;
}

.cards__grande .cards__texto h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cards__grande .cards__texto  p {
  font-size: 0.8rem;
  margin-top: -0.9rem;
}

.container__cards img {
  width: 100px;
  border-radius: 15px;
}

.cards__pequeña {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 5px 10px rgb(151, 140, 140);
}

.cards__pequeña h4 {
  font-size: 1rem;
}

.cards__pequeña h6 {
  font-size: 0.7rem;
  text-decoration: line-through;
  color: rgb(152, 145, 145);
}

.cards__pequeña .btn button{
  background-color: rgb(230, 179, 87);
  font-size: 0.8rem;
  border: none;
  border-radius: 3px;
  color: white;
}