---
import Layout from "../components/Layout.astro";
import Cards from "../components/Cards.jsx";
---

<Layout tituloPagina="Home">
  <h1>Home</h1>
  <Cards />

  <style>
    h1 {
      color: white;
    }
  </style>
</Layout>
